html,
body {
  background-color: #0b0a0a;
  padding: 0;
  margin: 0;
  color: #d2d2d2;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  --lh: 1.4rem;
  line-height: var(--lh);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  color: whitesmoke;
}

button {
  background-color: #44c79e;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 12px 30px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
button:hover {
  background-color: #0d1c17;
}
button:active {
  position: relative;
  top: 1px;
}
